<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter tags">
      <mat-chip-row *ngFor="let tag of tags"
                    (removed)="remove(tag)"
                    [editable]="true"
                    (edited)="edit(tag, $event)"
                    [aria-description]="'press enter to edit ' + tag.name">
        {{tag.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="Add Video tags..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>
  