<div class="flex">
    <div class="relative w-4/5 h-30 rounded-lg ">
        <img src="/assets/images/Placeholder.webp" />
        <p class="absolute rounded-md bg-zinc-300 right-2 bottom-2 text-gray-600 text-xs px-1 py">
            1:15
        </p>
    </div>
    <div class="w-full flex flex-col ml-2">
        <div class=" text-gray-700 truncate">Title</div>
        <div class="text-sm text-gray-500 truncate dark:text-gray-400">
            channel Name
        </div>
        <div>
            <span class="text-sm text-gray-500 truncate dark:text-gray-400">140k views</span>
            <span class="text-sm text-gray-500 truncate dark:text-gray-400">
                .
            </span>
            <span class="text-sm text-gray-500 truncate dark:text-gray-400">8 months ago</span>
        </div>
    </div>
</div>